version: '3.8'

services:
  app:
    build: .
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      MONGO_URL: mongodb://mongo:27017/bitfilmsdb
    depends_on:
      - mongo
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: bitfilmsdb
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo-data:
